@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-contacto{
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;

    #seccion-contacto-interno{
        display: grid;
        grid-template-columns: 1fr;
        picture{
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(134,91,255,1) 66%, rgba(148,187,233,1) 100%);
        }
        @include m.tablet{
            grid-template-columns: repeat(2,1fr);
        }
        form{
            height: 68rem;
        }
    }

}